.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .titles {
    grid-column: 4 / 8;
    grid-row: 1;
  }

  .nav-menu { 
    grid-column: 4 / 8;
    grid-row: 2 / 3;
  }

  .content {
    grid-column: 4 / 8;
    grid-row: 3 / 4;
  }