body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {

}

h2 {
    
}

.container {
    padding: 10px;
}


a:link {

}

a:hover {
    /* underline */
}

a:active {
    /* bigger, bold, a color? */
}